<body id="profile_form">
  <div class="profile_container">
<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :First_Name %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :Last_Name %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :Bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :Favorite_90s_TV_Show %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</body>
