<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @profile.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Question:</strong>
  <%= @profile.question %>
</p>

<%= image_tag @profile.avatar.url(:medium) %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
