<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<% if @current_user != nil %>
<h4> current user </h4> 
<%= @current_user.username %>
<% end %>
<br>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user), :class => "link_to_buttons" %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <% if logged_in? || logged_in_admin? %>
          <% if logged_in_admin? || user.id == current_user.id  %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>



