<body id="activity_show">
<p id="notice"><%= notice %></p>

<div id="map" class="activity_map">
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14)
    });
  </script>
</div>

<p class="activity_name">
  <%= @activity.name %>
</p>
<div class="activity_info">
  <p>
    <strong>What?</strong>
    <br>
    <%= @activity.game %>
  </p>
  <p>
    <strong>Where?</strong>
    <br>
    <%= @activity.address %>
  </p>
  <p>
    <strong>Starting At..</strong>
    <br>
    <%= @activity.start_time.strftime("%b %d at %l:%m %p") %>
  </p>
  <p>
    <strong>Until About..</strong>
    <br>
    <%= @activity.end_time.strftime("%b %d at %l:%m %p") %>
  </p>
  
  <p class="descrip">
    <strong>Why?</strong>
    <br>
    <%= @activity.description %>
  </p>
  <p>
    <strong>How intense?</strong>
    <br>
    <%= @activity.level %>
  </p>
  <% if @activity.user != nil %>
    <p>
    <strong>By Who?</strong>
    <br>
    <%= link_to @activity.user.username, @activity.user, :class => "link_to_buttons" %>
  <% end %> 
  </p>
  <% if @activity.user != nil %>
    <% if logged_in_admin? || logged_in? %>
      <% if logged_in_admin? || @activity.user.id == current_user.id  %>
        <%= link_to 'Edit', edit_activity_path(@activity) %> |
        <%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>|
      <% end %> 
    <% end %>
  <% end %>  
</div>
<div class="attending_boxes">
<div class="attending_container">
<%= form_for(@user_activity) do |f| %>
  <% if logged_in? %>
  <div class="attending">
    <h3> RSVP to this Activity! </h3>
    <div>
      <%= f.submit "RSVP", :class => "RSVP_button" %>
    </div>
    <div class="field">
       <%= f.hidden_field(:attending, :value => "Yes") %>
    </div>
    <div>
      <%= f.hidden_field(:user_id, :value => @current_user.id)%>
    </div>
    <div class="field">
      <%= f.hidden_field(:activity_id, :value => @activity.id)%>
    </div>
  </div>
<% end %>
<% end %>
</div>

<div class="attending_list_container">
<div class="attendees">
  <h3> Attendees </h3>
    <% @activity.attending_users.each do |ua| %>
          <tr>
            <td><%= link_to ua.username, ua, :class => "other_link" %></td>
            <br>
            <% if logged_in_admin? || logged_in? %>
              <% if logged_in_admin? || ua.id == current_user.id %>
              <% end %>
            <% end %>
            <br>
          </tr>
  <% end %>
</div>      
</div>
</div>



  <!-- comment section below -->
  <div class="comments_all">
        <div class="commentaddition">
            <% if logged_in_admin? || logged_in? %>
            <%= content_tag :h3, "Chat about this event!" %>
            <%= form_for @comment do |f| %>
            <%= f.label :Sup? %>
            <%= f.text_field :body %>
            <br>
            <br>
            <%= f.hidden_field(:activity_id, :value => @activity.id)%>
            <%= f.submit :create %>
            <% end %>
           <% end %> 
        </div>
        <div class="commentcontainer">
            <% @activity.comments.each do |comment| %>
            <%= comment.body %> <span> - </span>
            <% if comment.user != nil %>
              <%= link_to comment.user.username, comment.user, :class => "link_to_buttons"  %>
            <% else %>  
              <p>Anonymous</p>
            <% end %>  
            <br>
              <!-- This conditional makes sure only comment author can delete comment -->
              <% if logged_in_admin? || logged_in? %>
                <% if logged_in_admin? || comment.user_id == @current_user.id %>
                  <%= link_to("Delete comment", comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete_button")  %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>    

</body>            


